<div class="calc-result-wrapper">
    <p class="calc-result">
        <span class="result-text" id="calc-result-text">0</span>
        <span class="result-cursor" id="calc-result-cursor">|</span>
    </p>
</div>
<table class="buttons-table">
    <tr>
        <td class="calc-button clear-b" onclick="clearClick(this);"> C </td>
        <td class="calc-button fun-b" onclick="parenthesisClick(this);">( )</td>
        <td class="calc-button fun-b" onclick="functionClick(this);"> % </td>
        <td class="calc-button fun-b" onclick="functionClick(this);"> / </td>
    </tr>
    <tr>
        <td class="calc-button" onclick="sevenClick(this);"> 7 </td>
        <td class="calc-button" onclick="eightClick(this);"> 8 </td>
        <td class="calc-button" onclick="nineClick(this);"> 9 </td>
        <td class="calc-button fun-b" onclick="functionClick(this);"> x </td>
    </tr>
    <tr>
        <td class="calc-button" onclick="fourClick(this);"> 4 </td>
        <td class="calc-button" onclick="fiveClick(this);"> 5 </td>
        <td class="calc-button" onclick="sixClick(this);"> 6 </td>
        <td class="calc-button big-b fun-b" onclick="functionClick(this);"> - </td>
    </tr>
    <tr>
        <td class="calc-button" onclick="oneClick(this);"> 1 </td>
        <td class="calc-button" onclick="twoClick(this);"> 2 </td>
        <td class="calc-button" onclick="threeClick(this);"> 3 </td>
        <td class="calc-button fun-b" onclick="functionClick(this);"> + </td>
    </tr>
    <tr>
        <td class="calc-button" onclick="negateClick(this);">+/-</td>
        <td class="calc-button" onclick="zeroClick(this);"> 0 </td>
        <td class="calc-button" onclick="decimalClick(this);"> . </td>
        <td class="calc-button big-b eq-b" onclick="equalsClick(this);"> = </td>
    </tr>
</table>