<div id="Calc-Res-Wrap">
    <p id="Calc-Res">
        <span id="Calc-Res-Text">0</span>
        <span id="Calc-Res-Cursor">|</span>
    </p>
</div>

<div id="Calc-Buttons-Wrapper">
    <div class="calc-button-cluster">
        <div class="calc-button clear-b" onclick="clearClick(this);">
            <p class="calc-button-text clear-t"> C </p></div>
        <div class="calc-button" onclick="sevenClick(this);">
            <p class="calc-button-text"> 7 </p></div>
        <div class="calc-button" onclick="fourClick(this);">
            <p class="calc-button-text"> 4 </p></div>
        <div class="calc-button" onclick="oneClick(this);">
            <p class="calc-button-text"> 1 </p></div>
        <div class="calc-button" onclick="negateClick(this);">
            <p class="calc-button-text">+/-</p></div>
    </div>
    <div class="calc-button-cluster">
        <div class="calc-button fun-b" onclick="parenthesisClick(this);">
            <p class="calc-button-text fun-t">( )</p></div>
        <div class="calc-button" onclick="eightClick(this);">
            <p class="calc-button-text"> 8 </p></div>
        <div class="calc-button" onclick="fiveClick(this);">
            <p class="calc-button-text"> 5 </p></div>
        <div class="calc-button" onclick="twoClick(this);">
            <p class="calc-button-text"> 2 </p></div>
        <div class="calc-button" onclick="zeroClick(this);">
            <p class="calc-button-text"> 0 </p></div>
    </div>
    <div class="calc-button-cluster">
        <div class="calc-button fun-b" onclick="functionClick(this);">
            <p class="calc-button-text fun-t"> % </p></div>
        <div class="calc-button" onclick="nineClick(this);">
            <p class="calc-button-text"> 9 </p></div>
        <div class="calc-button" onclick="sixClick(this);">
            <p class="calc-button-text"> 6 </p></div>
        <div class="calc-button" onclick="threeClick(this);">
            <p class="calc-button-text"> 3 </p></div>
        <div class="calc-button" onclick="decimalClick(this);">
            <p class="calc-button-text"> . </p></div>
    </div>
    <div class="calc-button-cluster">
        <div class="calc-button fun-b" onclick="functionClick(this);">
            <p class="calc-button-text fun-t"> / </p></div>
        <div class="calc-button fun-b" onclick="functionClick(this);">
            <p class="calc-button-text fun-t"> x </p></div>
        <div class="calc-button fun-b" onclick="functionClick(this);">
            <p class="calc-button-text big-b fun-t"> - </p></div>
        <div class="calc-button fun-b" onclick="functionClick(this);">
            <p class="calc-button-text fun-t"> + </p></div>
        <div class="calc-button eq-b" onclick="equalsClick(this);">
            <p class="calc-button-text big-b eq-t"> = </p></div>
    </div>
</div>