<main>
    <div class="Table-Wrapper">
        <span class="Maze-Title wrap-height-item">Maze Creator/Solver</span>
        <div class="Maze-Funcs wrap-height-item">
            <input type="text" name="maze_size" id="maze_size" placeholder="&lt 50" class="M-F maze-size">
            <button class="M-F New-Maze-Button">New</button>
            <button class="M-F Solve-Maze-Button">Solve</button>
        </div>
        <table class="table-1 wrap-height-item" id="Table-1"></table>
    </div>
    <div class="Calculator-Wrapper">
        <span class="Calculator-Title">Simple Calculator</span>
        <div class="Calculator">
            <%- include('../../../scripts/Calculator/calculator.ejs')%>
        </div>
    </div>

    <div class="Looper-Wrapper">

        <div class="Looper-Title-Wrapper">
            <img src="/images/icons/arduinoicon.png" alt="Arduino Icon" class="Arduino-Icon Looper-Title-Icons">
            <img src="/images/icons/pcbicon.png" alt="PCB Icon" class="PCB-Icon Looper-Title-Icons">
            <img src="/images/icons/schematicicon.png" alt="Schematic Icon" class="Schematic-Icon Looper-Title-Icons">
            <span class="Looper-Title">Loop Switcher</span>
        </div>

        <div>
            <a href="https://github.com/mtecce/Loop-Switcher/blob/main/V2/5Bank3Modes.V2/5Bank3Modes.V2.ino">
                <img src="/images/icons/scripticon.webp" alt="Code" class="INO-Image">
            </a>
            <img src="/images/icons/imageicon.png" alt="Image" class="Loop-Images-PopUp-Icon">
        </div>

        <p class="Looper-Description">
            This project is a 5 channel audio loop switching pedal. An Arduino controls a set of relays to 
            switch different audio patch bays on and off. I designed the circuit, PCB, and layout of the 
            hardware, as well as designing, developing, debugging, and implementing the code onto the hardware.
            There are a few of these pedals being used by musicians in the Greater Philadelphia area. These pedals
            can be built on request, but I do not actively market or produce them in the means of a career.
        </p>
    </div>


</main>