<main>
    
    <div class="Table-Wrapper">
        <span class="Maze-Title wrap-height-item">Maze Creator/Solver</span>
        <div class="Maze-Funcs wrap-height-item">
            <input type="text" name="maze_size" id="maze_size" placeholder="5" class="M-F maze-size">
            <button class="M-F New-Maze-Button">New</button>
            <button class="M-F Solve-Maze-Button">Solve</button>
        </div>
        <table class="table-1 wrap-height-item" id="Table-1"></table>
    </div>
</main>