<main>
    <div class="looper-images pui">
        <div class="looper-images-background pui">
            <button class="left-loop-button pui" onclick="leftCycleLooperImages()"><</button>
            <button class="right-loop-button pui" onclick="rightCycleLooperImages();">></button>
        </div>
        <button class="exit-looper-images pui" onclick="exitLooperImages()">X</button>
        <div class="looper-schematic-wrapper pui">
            <a href="/images/LooperSchematic.png" target="_blank">
                <img src="/images/LooperSchematic.png" alt="Looper Schematic PNG" class="lsi pui">
            </a>
        </div>
        <div class="looper-pcb-wrapper pui">
            <a href="/images/PCBBoard.png" target="_blank">
                <img src="/images/PCBBoard.png" alt="Looper PNG" class="lpi pui">
            </a>
        </div>
    </div>

    <div id="Project-Grid">
        <div id="Maze-Wrap" class="Main-Wrap">
            <div id="Maze-Title-Wrap" class="Title-Wrap">
                <img src="/images/icons/jsicon.png" alt="JavaScript Icon" id="JS-Icon" class="Title-Icons image-invert">
                <img src="/images/icons/cppicon.png" alt="C++ Icon" id="Cpp-Icon" class="Title-Icons image-invert">
                <span id="Maze-Title" class="Title maze-resize">Maze Creator/Solver</span>
            </div>
            <div id="Maze-Table-Wrapper">
                <table id="Maze-Table" class="table-1 maze-resize" id="Table-1"></table>
            </div>
            <div id="Maze-Func" class="maze-resize">
                <input type="text" name="maze_size" id="Maze-Size" placeholder="&lt 50" class="Maze-Button">
                <button id="New-Maze" class="Maze-Button" onclick="newClick()">New</button>
                <button id="Solve-Maze" class="Maze-Button" onclick="solveClick()">Solve</button>
            </div>
        </div>
        <div id="Calc-Wrap" class="Main-Wrap">
            <div id="Calc-Title-Wrap" class="Title-Wrap">
                <img src="/images/icons/jsicon.png" alt="JavaScript Icon" id="JS-Icon" class="Title-Icons image-invert">
                <span id="Calc-Title" class="Title">Simple Calculator</span>
            </div>
            <div id="Calc">
                <%- include('../../../scripts/Calculator/calculator.ejs')%>
            </div>
        </div>
        <div id="Loop-Wrap" class="Main-Wrap">
            <div id="Loop-Title-Wrap" class="Title-Wrap">
                <img src="/images/icons/arduinoicon.png" alt="Arduino Icon" id="Arduino-Icon" class="Title-Icons image-invert">
                <img src="/images/icons/pcbicon.png" alt="PCB Icon" id="PCB-Icon" class="Title-Icons image-invert">
                <img src="/images/icons/schematicicon.png" alt="Schematic Icon" id="Schematic-Icon" class="Title-Icons image-invert">
                <span id="Loop-Title" class="Title">Loop Switcher</span>
            </div>
            <p id="Loop-Description" class="Outer-Text">
                This project is a 5 channel audio loop switching pedal. An Arduino controls a set of relays to 
                switch different audio patch bays on and off. I designed the circuit, PCB, and layout of the 
                hardware, as well as designing, developing, debugging, and implementing the code onto the hardware.
                There are a few of these being used by musicians in the Greater Philadelphia area. These pedals
                can be built on request, but are not actively market or produce them.
            </p>
            <div id="Loop-Link-Wrap">
                <div id="Loop-Link-1-Wrap" class="Loop-Link-Item">
                    <a href="https://github.com/mtecce/Loop-Switcher/blob/main/V2/5Bank3Modes.V2/5Bank3Modes.V2.ino">
                        <img src="/images/icons/githubicon.png" alt="Code" id="Loop-GH-Icon" class="image-invert">
                    </a>
                    <p id="Loop-GH-Desc" class="Outer-Text Loop-GH-Desc">Link to GitHub Repo</p>
                </div>
                <div id="Loop-Link-2-Wrap" class="Loop-Link-Item" onclick="displayLoopImages();">
                    <img src="/images/icons/imageicon.png" alt="Image" id="Loop-Img-Pop-Icon" class="image-invert">
                    <p id="Img-Pop-Desc" class="Outer-Text">View Photos</p>
                </div>
            </div>
        </div>
        <div id="AR-Wrap" class="Main-Wrap">
            <div id="AR-Title-Wrap" class="Title-Wrap">
                <img src="/images/icons/jsicon.png" alt="JS-Icon2" id="JS-Icon" class="Title-Icons image-invert">
                <img src="/images/icons/aricon.png" alt="ARJS-Icon" id="AR-Icon" class="Title-Icons AR-IMGS">
                <img src="/images/icons/jqueryicon.png" alt="jQuery-Icon" id="jQ-Icon" class="Title-Icons AR-IMGS">
                <img src="/images/icons/threejsicon.png" alt="THREE-Icon" id="THREE-Icon" class="Title-Icons AR-IMGS">
                <span id="AR-Title" class="Title">AR App</span>
            </div>
            <p id="AR-Description" class="Outer-Text">
                This project is an augmented reality web application written in JavaScript made to emulate a classroom exercise 
                designed by Dr. Rosa Abrahams to practice counterpoint music theory. The premise of the app is for the user to traverse through 
                a AR music staff and place themselves in specific positions on the staff lines. The project incorporates numerous JavaScript libraries to 
                implement position and color tracking, audio recording and playback, and 3D modeling of the music staff and miscellaneous 3D objects.
            </p>
            <div id="AR-Link-Wrap">
                <div id="AR-Link-1-Wrap" class="AR-Link-Item">
                    <a href=https://github.com/ctralie/CounterpointVR>
                        <img src="/images/icons/githubicon.png" alt="Code" id="AR-GH-Icon" class="image-invert AR-Link-Icons">
                        <p id="AR-GH-Desc" class="Outer-Text AR-Link-Text">Link to GitHub Repo</p>
                    </a>
                </div>
                <div id="AR-Link-2-Wrap" class="AR-Link-Item">
                    <a href=https://ctralie.github.io/CounterpointVR/>
                        <img src="/images/icons/webicon.png" alt="Code" id="AR-Web-Icon" class="AR-Link-Icons">
                        <p id="AR-Web-Desc" class="Outer-Text AR-Link-Text">Link to Web App</p>
                    </a>
                </div>
                <div id="AR-Link-3-Wrap" class="AR-Link-Item AR-Link-Rightside">
                    <a href=https://youtu.be/QiJv8It9Uhc">
                        <img src="/images/icons/youtubeicon.png" alt="Code" id="AR-YT-Icon" class="AR-Link-Icons">
                        <p id="AR-YT-Desc" class="Outer-Text AR-Link-Text">Link to Demo Video</p>
                    </a>
                </div>
                <div id="AR-Link-4-Wrap" class="AR-Link-Item AR-Link-Rightside" onclick="displayARImages();">
                    <img src="/images/icons/imageicon.png" alt="Image"  id="AR-Img-Pop-Icon" class="image-invert AR-Link-Icons">
                    <p id="AR-Img-Desc" class="Outer-Text AR-Link-Text">View Photos</p>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- https://ctralie.github.io/CounterpointVR/ -->
<!-- https://youtu.be/QiJv8It9Uhc -->