<div class="guides">
    <div class="vl ft"></div>
    <div class="vl ozs"></div>
    <div class="vl oso"></div>

    <div class="hl x t"></div>
    <div class="hl x tt"></div>
    <div class="hl x ttt"></div>
    <div class="hl x tttt"></div>
    <div class="hl x ttttt"></div>
    <div class="hl x tttttt"></div>
    
    <div class="hl y aa"></div>
    <div class="hl y aaa"></div>
    <div class="hl y aaaa"></div>
    <div class="hl y aaaaa"></div>
    <div class="hl y aaaaaa"></div>
</div>

