<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Michael Tecce</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/mainstyles.css">
    <link rel="stylesheet" href="/guideline.css">
    <link rel="stylesheet" href="/phoneportrait.css">
    <link rel="stylesheet" href="/phonelandscape.css">
    <link rel="stylesheet" href="/desktop.css">
</head>