<div class="hbp">
  <div class="hambackground"></div>
</div>
<header>
  <div class="icons">
    <a href="/" class="a i0 sidemove">
      <div class="buff ii0">
        <img src="images/homeicon.png" alt="Home" class="homeicon"/>
      </div>
    </a>
    <a href="https://www.github.com/mtecce" class="a i1 sidemove">
      <div class="buff ii1">
        <img src="images/githubicon.webp" alt="Github" class="githubicon">
      </div>
    </a>
    <a href="https://www.linkedin.com/in/michael-tecce-5a4802194/" class="a i2 sidemove">
      <div class="buff ii2">
        <img src="images/linkedinicon.png" alt="LinkedIn" class="linkedinicon">
      </div>
    </a>
    <div class="d i3 icon sidemove">
      <div class="buff ii3">
        <img src="images/folder.png" alt="Projects" class="projecticon">
      </div>
    </div>
    <a href="MichaelTecceResume.pdf" target="_blank" class="a i4 sidemove">
      <div class="buff ii4">
        <img src="images/file.png" alt="Resume" class="resumeicon">
      </div>
    </a>
    <div class="d i5 sidemove">
      <div class="ham">
        <span class="top-line"></span>
        <span class="mid-line"></span>
        <span class="bottom-line"></span>
      </div>
    </div>
    <div class="d projectslide">
      <a href="/csprojects" class="a p i6">
        <div class="pBuff ii6">
          <img src="images/script.webp" alt="CSProj" class="scripticon">
        </div>
      </a>
      <a href="/musicprojects" class="a p i7">
        <div class="pBuff ii7">
          <img src="images/music.png" alt="MusicProj" class="musicicon">
        </div>
      </a>
    </div>
  </div>
  <div class="text">
    <a href="/projects" class="m0">Projects</a>
    <a href="/contact" class="m1">Contact</a>
  </div>
</header>