<div class="drop">
  <ul class="mainmenu">
    <li class="m0"><a href="/resume">Resume</a></li>
    <li class="m1">
      <div class="proj">
        <div class="arrow">
          <img src="images/arrow.webp" alt="Arrow" class="arrowicon"/>
        </div>
        <p>Projects</p>
      </div>
      <ul class="seconddrop">
        <li class="csm"><a href="/csproj">~CS Projects~</a></li>
        <li class="mm"><a href="/musicproj">~Music Projects~</a></li>
      </ul>
    </li>
    <li class="m2">Contact</li>
  </ul>
</div>
<header>
  <div class="icons">
    <a href="/" class="i0">
      <div class="buff ii0">
        <img src="images/homeicon.png" alt="Home" class="homeicon"/>
      </div>
    </a>
    <a href="https://www.github.com/mtecce" class="i1">
      <div class="buff ii1">
        <img src="images/githubicon.webp" alt="Github" class="githubicon">
      </div>
    </a>
    <a href="https://www.linkedin.com/in/michael-tecce-5a4802194/" class="i2">
      <div class="buff ii2">
        <img src="images/linkedinicon.png" alt="LinkedIn" class="linkedinicon">
      </div>
    </a>
    <a href="/csprojects" class="i3">
      <div class="buff ii3">
        <img src="images/folder.png" alt="Projects" class="projecticon">
      </div>
    </a>
    <a href="/musicprojects" class="i4">
      <div class="buff ii4">
        <img src="images/music.png" alt="Music" class="musicicon">
      </div>
    </a>
    <div class="i5">
      <div class="ham">
        <span class="top-line"></span>
        <span class="mid-line"></span>
        <span class="bottom-line"></span>
      </div>
    </div>
  </div>

  <div class="text">
    <a href="/projects" class="m0">Projects</a>
    <a href="/contact" class="m1">Contact</a>
  </div>


</header>
<!-- <div class="vl t"></div>
<div class="vl tt"></div>
<div class="vl ttt"></div>
<div class="vl tttt"></div> --> 