<main>
   <div id="Contact-Item" class="contact-drop-group">
      <div class="list-item-format">
         <span class="strip-shape-format" onclick="contactDrop();">
            <div class="c-image-wrapper">
               <img src="/images/icons/mailicon.png" alt="Email" class="contact-icons image-invert">
            </div>
            <div class="c-text-wrapper">
               <p class="strip-text">Contact Me</p>
            </div>
            <div id="Contact-Arrow-Wrapper">
               <img src="images/whitearrow.png" alt="Contact Arrow" id="Contact-Arrow-Icon" class="contact-drop-group image-invert">
            </div>
         </span>
      </div>
      <form id="Form-Element" class="form-element contact-drop-group" accept-charset="UTF-8" action="https://getform.io/f/6d3013b6-70ec-42b1-b431-d8ddb461a42d" method="POST" enctype="multipart/form-data"  target="_self">
         <div class="contact-drop-group name-div form-divs">
            <label class="submission-labels">Your Name</label>
            <div>
               <input class="submission-input contact-drop-group small-box" type="text" name="first_name" placeholder="Enter your name" required="required">
            </div>
         </div>
         <div class="contact-drop-group email-div form-divs">
            <label class="submission-labels">Email address</label>
            <div>
               <input class="submission-input contact-drop-group small-box" type="email" name="email" placeholder="Enter your email address" required="required">
            </div>
         </div>
         <div class="contact-drop-group message-div form-divs">
            <label class="submission-labels">Your Message</label>
            <div>
               <textarea class="submission-input big-box contact-drop-group" type="text" name="message" placeholder="Enter your message" required="required"></textarea>
            </div>
         </div>
         <button class="submit-button contact-drop-group" type="submit">Send Message</button>
      </form>
   </div>
   <ul id="Contact-Strip-List" class="contact-drop-group">
      <li id="Github-Item" class="Trim-Wrap">
         <div class="list-item-format">
            <span class="strip-shape-format">
               <div class="c-image-wrapper">
                  <img src="/images/icons/githubicon.png" alt="Github" class="contact-icons image-invert">
               </div>
               <a href="https://github.com/mtecce" class="c-text-wrapper">
                  <p class="strip-text">GitHub</p>
               </a>
            </span>
         </div>
      </li>

      <li id="Linkedin-Item" class="Trim-Wrap">
         <div class="list-item-format">
            <span class="strip-shape-format">
               <div class="c-image-wrapper">
                  <img src="/images/icons/linkedinicon.png" alt="LinkedIn" class="contact-icons image-invert">
               </div>
               <a href="https://www.linkedin.com/in/michael-tecce-5a4802194/" class="c-text-wrapper">
                  <p class="strip-text">LinkedIn</p>
               </a>
            </span>
         </div>
      </li>

      <li id="Facebook-Item" class="Trim-Wrap">
         <div class="list-item-format">
            <span class="strip-shape-format">
               <div class="c-image-wrapper">
                  <img src="/images/icons/facebookicon.png" alt="Facebook" class="contact-icons image-invert">
               </div>
               <a href="https://www.facebook.com/michaelvtecce/" class="c-text-wrapper">
                  <p class="strip-text">Facebook</p>
               </a>
            </span>
         </div>
      </li>

      <li id="Instagram-Item" class="Trim-Wrap">
         <div class="list-item-format">
            <span class="strip-shape-format">
               <div class="c-image-wrapper">
                  <img src="/images/icons/instagramicon.png" alt="Instagram" class="contact-icons image-invert">
               </div>
               <a href="https://www.instagram.com/michaeltecce/" class="c-text-wrapper">
                  <p class="strip-text">Instagram</p>
               </a>
            </span>
         </div>
      </li>

      <li id="Discord-Item" class="Trim-Wrap">
         <div class="list-item-format">
            <span class="strip-shape-format">
               <div class="c-image-wrapper">
                  <img src="/images/icons/discordicon.png" alt="Discord" class="contact-icons image-invert">
               </div>
               <a href="https://www.discordapp.com/users/631536131174957056" class="c-text-wrapper">
                  <p class="strip-text">Discord</p>
               </a>
            </span>
         </div>
      </li>
   </ul>
</main>
