<body>
    <%- include('../pageheader.ejs')%>
    <%- include('./contactcontent.ejs')%>
    <%- include('../../../scripts/contactanimations.ejs')%>
    <%- include('../../../scripts/animations.ejs')%>
</body>