<main>
    <ul class="contact-strip-list">
        <li class="list-item-format">
            <span class="strip-shape-format">
                <img src="/images/icons/mailicon.webp" alt="Email" class="emailicon">
                <a href="mailto:michaelvtecce@gmail.com" class="strip-text email-text">michaelvtecce@gmail.com</a>
            </span>
        </li>
    </ul>
</main>
