<main>
   <ul class="contact-strip-list">
      <li class="list-item-format">
         <span class="strip-shape-format">
            <img src="/images/icons/mailicon.webp" alt="Email" class="emailicon">
            <h2 class="strip-text">Contact Me</h2>
            <div class="contact-arrow">
               <img src="images/arrow.webp" alt="Contact Arrow" class="contact-arrow-icon">
            </div>
         </span>
         <form class="form-element" accept-charset="UTF-8" action="https://getform.io/f/6d3013b6-70ec-42b1-b431-d8ddb461a42d" method="POST" enctype="multipart/form-data"  target="_self" id="wpform">
            <div class="name-div form-divs">
               <label class="submission-labels">Your Name</label>
               <div>
                  <input class="submission-input  small-box" type="text" name="first_name" placeholder="Enter your name and surname" required="required">
               </div>
            </div>
            <br>
            <div class="email-div form-divs">
               <label class="submission-labels">Email address</label>
               <div>
                  <input class="submission-input small-box" type="email" name="email" placeholder="Enter your email address" required="required">
               </div>
            </div>
            <br> 
            <div class="message-div form-divs">
               <label class="submission-labels">Your Message</label>
               <div>
                  <textarea class="submission-input big-box" type="text" name="message" placeholder="Enter your message" required="required"></textarea>
               </div>
            </div>
    
            <button class="submit-button" type="submit">SUBMIT</button>
            </form>
        </li>

        <!-- <li class="list-item-format">
            <span class="strip-shape-format">
                <img src="/images/icons/phoneicon.webp" alt="Phone" class="phoneicon">
                <a href="tel:6106579855" class="strip-text phone-text">+1 (610)-657-9855</a>
            </span>
        </li> -->
    </ul>
    
    <!-- <div class="submission-form">
        <h2 class="submission-header">Contact Me</h2>
        <form class="form-element" accept-charset="UTF-8" action="https://getform.io/f/6d3013b6-70ec-42b1-b431-d8ddb461a42d" method="POST" enctype="multipart/form-data"  target="_self" id="wpform">
           <div>
              <label class="submission-labels">Your Name</label>
              <div>
                 <input class="submission-input  small-box" type="text" name="first_name" placeholder="Enter your name and surname" required="required">
              </div>
           </div>
           <br>
           <div>
              <label class="submission-labels">Email address</label>
              <div>
                 <input class="submission-input small-box" type="email" name="email" placeholder="Enter your email address" required="required">
              </div>
           </div>
           <br> 
           <div>
              <label>Your Message</label>
              <div>
                 <textarea class="submission-input big-box" type="text" name="message" placeholder="Enter your message" required="required"></textarea>
              </div>
           </div>

           <button style="font-size:14px; background-color:#6b7ddf; color:#fff; font-weight:bold; padding:10px 35px; margin: 5px 0 0 0;" type="submit">SUBMIT</button>
        </form>
     </div> -->
</main>
