<main>
   <div id="Contact-Item" class="contact-drop-group">
      <div class="Trim-Wrap">
         <div class="Contact-Background">
            <div class="list-item-format">
               <span class="strip-shape-format" onclick="contactDrop();">
                  <img src="/images/icons/mailicon.png" alt="Email" class="contact-icons">
                  <p class="strip-text">Contact Me</p>
                  <div id="Contact-Arrow-Wrapper">
                     <img src="images/whitearrow.png" alt="Contact Arrow" id="Contact-Arrow-Icon" class="contact-drop-group">
                  </div>
               </span>
            </div>
         </div>
      </div>
      <form id="Form-Element" class="form-element contact-drop-group" accept-charset="UTF-8" action="https://getform.io/f/6d3013b6-70ec-42b1-b431-d8ddb461a42d" method="POST" enctype="multipart/form-data"  target="_self">
         <div class="contact-drop-group name-div form-divs">
            <label class="submission-labels">Your Name</label>
            <div>
               <input class="submission-input small-box" type="text" name="first_name" placeholder="Enter your name and surname" required="required">
            </div>
         </div>
         <div class="contact-drop-group email-div form-divs">
            <label class="submission-labels">Email address</label>
            <div>
               <input class="submission-input small-box" type="email" name="email" placeholder="Enter your email address" required="required">
            </div>
         </div>
         <div class="contact-drop-group message-div form-divs">
            <label class="submission-labels">Your Message</label>
            <div>
               <textarea class="submission-input big-box contact-drop-group" type="text" name="message" placeholder="Enter your message" required="required"></textarea>
            </div>
         </div>
         <button class="submit-button contact-drop-group" type="submit">Submit</button>
      </form>
   </div>
   <ul id="Contact-Strip-List">
      <li id="Github-Item" class="Trim-Wrap">
         <div class="Contact-Background">
            <div class="list-item-format">
               <span class="strip-shape-format">
                  <img src="/images/icons/githubicon.png" alt="Github" class="contact-icons">
                  <a href="https://github.com/mtecce" class="strip-text">GitHub</a>
               </span>
            </div>
         </div>
      </li>

      <li id="Linkedin-Item" class="Trim-Wrap">
         <div class="Contact-Background">
            <div class="list-item-format">
               <span class="strip-shape-format">
                  <img src="/images/icons/linkedinicon.png" alt="LinkedIn" class="contact-icons">
                  <a href="https://www.linkedin.com/in/michael-tecce-5a4802194/" class="strip-text">LinkedIn</a>
               </span>
            </div>
         </div>
      </li>

      <li id="Facebook-Item" class="Trim-Wrap">
         <div class="Contact-Background">
            <div class="list-item-format">
               <span class="strip-shape-format">
                  <img src="/images/icons/facebookicon.png" alt="Facebook" class="contact-icons">
                  <a href="https://www.facebook.com/michaelvtecce/" class="strip-text">Facebook</a>
               </span>
            </div>
         </div>
      </li>

      <li id="Instagram-Item" class="Trim-Wrap">
         <div class="Contact-Background">
            <div class="list-item-format">
               <span class="strip-shape-format">
                  <img src="/images/icons/instagramicon.png" alt="Instagram" class="contact-icons">
                  <a href="https://www.instagram.com/michaeltecce/" class="strip-text">Instagram</a>
               </span>
            </div>
         </div>
      </li>

      <li id="Discord-Item" class="Trim-Wrap">
         <div class="Contact-Background">
            <div class="list-item-format">
               <span class="strip-shape-format">
                  <img src="/images/icons/discordicon.png" alt="Discord" class="contact-icons">
                  <a href="https://www.discordapp.com/users/631536131174957056" class="strip-text">Discord</a>
               </span>
            </div>
         </div>
      </li>
   </ul>
</main>
