<main>
   <ul class="contact-strip-list">
      <!-- Contact Item -->
      <li class="list-item-format contact-item">
         <span class="strip-shape-format">
            <img src="/images/icons/mailicon.png" alt="Email" class="contact-icons emailicon">
            <h2 class="strip-text">Contact Me</h2>
            <div class="contact-arrow">
               <img src="images/whitearrow.png" alt="Contact Arrow" class="contact-drop-group contact-arrow-icon">
            </div>
         </span>
         <form class="form-element contact-drop-group" accept-charset="UTF-8" action="https://getform.io/f/6d3013b6-70ec-42b1-b431-d8ddb461a42d" method="POST" enctype="multipart/form-data"  target="_self" id="wpform">
            <div class="contact-drop-group name-div form-divs">
               <label class="submission-labels">Your Name</label>
               <div>
                  <input class="submission-input  small-box" type="text" name="first_name" placeholder="Enter your name and surname" required="required">
               </div>
            </div>
            <div class="contact-drop-group email-div form-divs">
               <label class="submission-labels">Email address</label>
               <div>
                  <input class="submission-input small-box" type="email" name="email" placeholder="Enter your email address" required="required">
               </div>
            </div>
            <div class="contact-drop-group message-div form-divs">
               <label class="submission-labels">Your Message</label>
               <div>
                  <textarea class="submission-input big-box contact-drop-group" type="text" name="message" placeholder="Enter your message" required="required"></textarea>
               </div>
            </div>
    
            <button class="submit-button contact-drop-group" type="submit">SUBMIT</button>
            </form>
        </li>

        <!-- GitHub Item -->
        <li class="list-item-format contact-drop-group github-item">
           <span class="strip-shape-format">
              <img src="/images/icons/githubicon.png" alt="Github" class="contact-icons contact-githubicon">
              <a href="https://github.com/mtecce" class="strip-text github-text">GitHub</a>
           </span>
        </li>

        <li class="list-item-format contact-drop-group linkedin-item">
           <span class="strip-shape-format">
              <img src="/images/icons/linkedinicon.png" alt="LinkedIn" class="contact-icons contact-linkedinicon">
              <a href="https://www.linkedin.com/in/michael-tecce-5a4802194/" class="strip-text linkedin-text">LinkedIn</a>
           </span>
        </li>

        <!-- Facebook Item -->
        <li class="list-item-format contact-drop-group facebook-item">
            <span class="strip-shape-format">
                <img src="/images/icons/facebookicon.png" alt="Facebook" class="contact-icons contact-facebookicon">
                <a href="https://www.facebook.com/michaelvtecce/" class="strip-text facebook-text">Facebook</a>
            </span>
        </li>
        <!-- Instagram Item -->
        <li class="list-item-format contact-drop-group instagram-item">
           <span class="strip-shape-format">
              <img src="/images/icons/instagramicon.png" alt="Instagram" class="contact-icons contact-instagramicon">
              <a href="https://www.instagram.com/michaeltecce/" class="strip-text instagram-text">Instagram</a>
           </span>
        </li>
        <!-- Discord Item -->
        <li class="list-item-format contact-drop-group discord-item">
           <span class="strip-shape-format">
              <img src="/images/icons/discordicon.png" alt="Discord" class="contact-icons contact-discordicon">
              <a href="https://www.discordapp.com/users/631536131174957056" class="strip-text discord-text">Discord</a>
           </span>
        </li>
    </ul>
</main>
