<header class="desktop">
  <nav class="nav-top">
    <a href="/" class="nav-home">
      <span class="home-text">Michael Tecce</span>
    </a>
    <ul class="nav-list">
      <li class="list-item-formatting">
        <a href="MichaelTecceResume.pdf" target="_blank" class="nav-resume">
          <span class="text-formatting resume-text">Resume</span>
        </a>
      </li>
      <li class="list-item-formatting">
        <a href="/csprojects" class="nav-csprojects">
          <span class="text-formatting csprojects-text">CS Projects</span>
        </a>
      </li>
      <li class="list-item-formatting">
        <a href="/musicprojects" class="nav-musicprojs">
          <span class="text-formatting musicprojects-text">Music Projects</span>
        </a>
      </li>
      <li class="list-item-formatting">
        <a href="https://www.github.com/mtecce" class="nav-github">
          <span class="text-formatting github-text">GitHub</span>
        </a>
      </li>
      <li class="list-item-formatting">
        <a href="https://www.linkedin.com/in/michael-tecce-5a4802194/" class="nav-linkedin">
          <span class="text-formatting linkedin-text">LinkedIn</span>
        </a>
      </li>
      <li class="list-item-formatting">
        <a href="/contact" class="nav-contact">
          <span class="text-formatting contact-text">Contact</span>
        </a>
      </li>
    </ul>
  </nav>
</header>



