<header id="Desktop-Header" class="desktop">
  <p>Michael Tecce</p>
</header>
<nav id="Desktop-Nav" class="nav-top">
  <ul id="Desktop-Nav-List" class="nav-list">
    <li class="list-item-formatting">
      <a href="/" class="text-wrapper">
        <span class="text-formatting">Home</span>
      </a>
    </li>
    <li class="list-item-formatting">
      <a href="MichaelTecceResume.pdf" target="_blank" class="text-wrapper">
        <span class="text-formatting resume-text">Resume</span>
      </a>
    </li>
    <li class="list-item-formatting">
      <a href="/csprojects" class="text-wrapper">
        <span class="text-formatting csprojects-text">CS Projects</span>
      </a>
    </li>
    <li class="list-item-formatting">
      <a href="/musicprojects" class="text-wrapper">
        <span class="text-formatting musicprojects-text">Music Projects</span>
      </a>
    </li>
    <li class="list-item-formatting">
      <a href="https://www.github.com/mtecce" class="text-wrapper">
        <span class="text-formatting github-text">GitHub</span>
      </a>
    </li>
    <li class="list-item-formatting">
      <a href="https://www.linkedin.com/in/michael-tecce-5a4802194/" class="text-wrapper">
        <span class="text-formatting linkedin-text">LinkedIn</span>
      </a>
    </li>
    <li class="list-item-formatting">
      <a href="/contact" class="text-wrapper">
        <span class="text-formatting contact-text">Contact</span>
      </a>
    </li>
  </ul>
</nav>


