<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pictures</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <% if(pictureset == "looper") {%>
            <div id="Loop-Images-Wrapper" class="lpu">
                <div id="Image-Wrapper" class="LP1 lpu">
                    <a href="/images/Looper/PCBBoard.png" target="_blank">
                        <img src="/images/Looper/PCBBoard.png" alt="Looper PNG" class="Popup-Images lpu">
                    </a>
                </div>
                <div id="Image-Wrapper" class="LP2 lpu">
                    <a href="/images/Looper/LooperSchematic.png" target="_blank">
                        <img src="/images/Looper/LooperSchematic.png" alt="Looper Schematic PNG" class="Popup-Images lpu">
                    </a>
                </div>

                <div id="Image-Wrapper" class="LP3 lpu">
                    <a href="/images/Looper/LoopPic1.jpg" target="_blank">
                        <img src="/images/Looper/LoopPic1.jpg" alt="Loop Pic 1" class="Popup-Images lpu">
                    </a>
                </div>

                <div id="Image-Wrapper" class="LP4 lpu">
                    <a href="/images/Looper/LoopPic2.jpg" target="_blank">
                        <img src="/images/Looper/LoopPic2.jpg" alt="Loop Pic 2" class="Popup-Images lpu">
                    </a>
                </div>

                <div id="Image-Wrapper" class="LP5 lpu">
                    <a href="/images/Looper/LoopPic3.jpg" target="_blank">
                        <img src="/images/Looper/LoopPic3.jpg" alt="Loop Pic 3" class="Popup-Images lpu">
                    </a>
                </div>
            </div>
        <% }else if(pictureset == "ar") {%>
            <div id="AR-Images-Wrapper" class="apu">
                <div id="Image-Wrapper" class="AP1 apu">
                    <a href="/images/AR/ARPic1.png" target="_blank">
                        <img src="/images/AR/ARPic1.png" alt="AR Pic1" class="Popup-Images apu">
                    </a>
                </div>
                <div id="Image-Wrapper" class="AP2 apu">
                    <a href="/images/AR/ARPic2.png" target="_blank">
                        <img src="/images/AR/ARPic2.png" alt="AR Pic2" class="Popup-Images apu">
                    </a>
                </div>

                <div id="Image-Wrapper" class="AP3 apu">
                    <a href="/images/AR/ARPic3.png" target="_blank">
                        <img src="/images/AR/ARPic3.png" alt="AR Pic 3" class="Popup-Images apu">
                    </a>
                </div>

                <div id="Image-Wrapper" class="AP4 apu">
                    <a href="/images/AR/ARMenu1.png" target="_blank">
                        <img src="/images/AR/ARMenu1.png" alt="AR Pic 4" class="Popup-Images apu">
                    </a>
                </div>

                <div id="Image-Wrapper" class="AP5 apu">
                    <a href="/images/AR/ARMenu2.png" target="_blank">
                        <img src="/images/AR/ARMenu2.png" alt="AR Pic 5" class="Popup-Images apu">
                    </a>
                </div>
            </div>
        <% } %> 
    </body>
</html>