<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Michael Tecce: CS Projects</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/mainstyles.css">
    <link rel="stylesheet" href="/styles/guideline.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/mobileportrait.css">
    <link rel="stylesheet" href="/styles/mobilelandscape.css">
    <link rel="stylesheet" href="/styles/desktopportrait.css">
    <link rel="stylesheet" href="/styles/desktoplandscape.css">
    <link rel="stylesheet" href="/styles/csprojectstyles.css">
    <link rel="stylesheet" href="/styles/popupstyles.css">
    <link rel="stylesheet" href="/styles/mazestyles.css">
    <link rel="stylesheet" href="/styles/calculatorstyles.css">
    <link rel="stylesheet" href="/styles/looperstyles.css">
    <link rel="stylesheet" href="/styles/arstyles.css">
</head>