<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Michael Tecce : Music Projects</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/mainstyles.css">
    <link rel="stylesheet" href="/styles/guideline.css">
    <link rel="stylesheet" href="/styles/mobile.css">
    <link rel="stylesheet" href="/styles/desktop.css">
    <link rel="stylesheet" href="/styles/musicprojstyles.css">
</head>