<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%- include('../pageheader.ejs')%>
    <%- include('./indexcontent.ejs')%>
    <%- include('../../../scripts/animations.ejs')%>
    <%- include('../../../scripts/indexanimations.ejs') %> 
</body>