<main>
    <div class="block-1">
        <h1 class="main-header about-header">About Me</h1>
        <p class="bp about-me-paragraph">
            My name is Michael Tecce. I am a programmer specializing in software development, specifically frontend and
            backend web development. Outside of programming I am an avid lifelong musician. My primary instrument is guitar 
            and have started, joined, and aided multiple music projects along the Eastern Seaboard. I am also a hobbyist audio 
            electronics technician where I focus on the development of embedded systems, analog audio circuits, and the repair
            of such circuits.
        </p>
    </div>
    <div class="block-2">
        <h1 class="main-header academic-header">Academic History</h1>
        <p class="bp academic-par ap1">
            I received my B.Sc. in Computer Science from <a href="https://www.ursinus.edu/">Ursinus College</a> in 2022. As an 
            undergraduate student at Ursinus College I focused my studies in software engineering, digital audio processing, 
            and web graphics. Outside of my academic coursework I had been heavily involved in the development of an web-based augmented 
            reality program. The AR program was designed to mimic a counterpoint music theory classroom exercise designed
            by <a href="https://www.ursinus.edu/live/profiles/3124-rosa-abrahams">Rosa Abrahams</a>. I also participated in
            Ursinus College's Summer Fellows program of 2020. During this research internship I focused on the development 
            of novel sonification techniques. Both of these projects were advised by
            <a href="https://www.ctralie.com/index.html">Christopher Tralie</a>.
        </p>
        <p class="bp academic-par ap2">
            Prior to attending Ursinus College I was a student at <a href="https://www.uarts.edu/">The University of the Arts</a>.
            I was pursuing a B.Sc. in Music, Business, Entrepreneurship & Technology (MBET) and focused my studies in audio electronics, 
            digital audio production and music theory. While attended The University of the Arts I learned of my affinity towards the 
            scientific aspects of music and audio, all while increasing my desire to become a professional computer programmer. I then 
            transferred to Ursinus College to pursue an education in Computer Science.
        </p>
    </div>
</main>