<body>
    <%- include('../headers/mobile.ejs')%>
    <%- include('../headers/desktop.ejs')%>
    <%- include('../utility/guidelines.ejs')%>
    <%- include('../../../scripts/animations.ejs')%>
</body>