<body>
    <%- include('../mobile/mobile.ejs')%>
    <%- include('../desktop/desktop.ejs')%>
    <%- include('../utility/guidelines.ejs')%>
    <%- include('../../../scripts/animations.ejs')%>
</body>