<header class="desktop">
  <nav class="nav-top">
    <ul class="nav-list">
      <li class="list-item-formatting">
        <a href="/" class="nav-home">
          <span class="text-formatting home-text">Home</span>
        </a>
      </li>
      <li class="list-item-formatting">
        <a href="/csprojects" class="nav-csprojects">
          <span class="text-formatting csproj-text">CS Projects</span>
        </a>
      </li>
    </ul>
  </nav>
</header>



