#Calc-Wrap{
    height: 575px;
}

#Calc-Title{
    text-align: center;
    padding: 13px 0;
    width: 100%;
}

#Calc{
    position: relative;
    background-color: black;
    margin: 0;
    border-radius: 20px;
}

#Calc-Res-Wrap{
    position: relative;
    background-color: black;
    color: rgb(231, 193, 255);
    text-align: right;
    vertical-align: middle;
    z-index: 1;
    border-radius: 20px;
}

#Calc-Res{
    font-size: 25px;
    margin: 0;
}

#Calc-Norm-Buttons,
#Calc-Landscape-Buttons{
    position: relative;
    border-collapse: separate;
    border-spacing: 11px;
    top: 0px;
}

.calc-button{
    width: 60px;
    height: 60px;
    font-size: 25px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(47,47,47);
    color: rgb(231, 193, 255);
    transition: background-color 0.05s;
}

/* Mobile Portrait */
@media screen and (max-width: 450px) and (max-height: 916px){

    #Calc-Wrap{
        top: 462px;
    }

    #Calc{
        top: 12px;
        width: 300px;
        height: 500px;
        left: 50%;
        transform: translateX(-50%);
    }

    #Calc-Res-Wrap{
        padding: 50px 0;
    }

    #Calc-Landscape-Buttons{
        visibility: hidden;
        position: absolute;
        top: 0px;
        left: 20px;
        z-index: -5;
    }

}

/* Mobile Landscape */
@media screen and (min-width: 451px) and (max-width: 916px) and (max-height: 450px){
    
    #Calc-Wrap{
        height: 330px;
        top: 20px;
    }

    #Calc-Title-Wrap{
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    #Calc-Title{
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    #Calc{
        position: absolute;
        width: 100%;
        z-index: 0;
        height: 330px;
        top: 0;
    }

    #Calc-Res-Wrap{
        width: 50%;
        left: 50%;
        top: 50px;
        padding: 25px 0;
    }

    #Calc-Landscape-Buttons{
        top: 25px;
        width: 100%;
    }

    #Calc-Norm-Buttons{
        visibility: hidden;
        position: absolute;
        top: 0px;
        left: 20px;
        z-index: -5;
    }
}

.big-b{
    font-size: 35px;
}

/* Desktop Portrait */
@media screen and (min-width: 451px) and (max-width: 712px) and (min-height: 451px){

    #Calc-Wrap{
        width: 336px;
        height: 395px;
        top: 415px;
    }

    #Calc-Title{
        font-size: 20px;
    }

    #Calc{
        width: 300px;
        height: 327px;
        margin: 9px 18px;
    }

    #Calc-Res-Wrap{
        padding: 20px 0;
    }

    #Calc-Res{

    }

    #Calc-Norm-Buttons{
        top: 10px;
        border-spacing: 10px;
    }

    .calc-button{
        height: 37px;
        font-size: 20px;
        border-radius: 19px;

    }

    #Calc-Landscape-Buttons{
        visibility: hidden;
        position: absolute;
        left: 20px;
        z-index: -5;
    }

}

/* Desktop Portrait */
@media screen and (min-width: 713px) and (max-width: 916px) and (min-height: 451px){

    #Calc-Wrap{
        width: 336px;
        height: 395px;
        top: 0px;
        left: 356px;
    }

    #Calc-Title{
        font-size: 20px;
    }

    #Calc{
        width: 300px;
        height: 327px;
        margin: 9px 18px;
    }

    #Calc-Res-Wrap{
        padding: 20px 0;
    }

    #Calc-Res{

    }

    #Calc-Norm-Buttons{
        top: 10px;
        border-spacing: 10px;
    }

    .calc-button{
        height: 37px;
        font-size: 20px;
        border-radius: 19px;

    }

    #Calc-Landscape-Buttons{
        visibility: hidden;
        position: absolute;
        left: 20px;
        z-index: -5;
    }

}

/* Desktop Landscape */
@media screen and (min-width:917px){

    #Calc-Wrap{
        width: 336px;
        height: 395px;
        left: 356px;
    }

    #Calc-Title{
        font-size: 20px;
    }

    #Calc{
        width: 300px;
        height: 327px;
        margin: 9px 18px;
    }

    #Calc-Res-Wrap{
        padding: 20px 0;
    }

    #Calc-Res{

    }

    #Calc-Norm-Buttons{
        top: 10px;
        border-spacing: 10px;
    }

    .calc-button{
        height: 37px;
        font-size: 20px;
        border-radius: 19px;

    }

    #Calc-Landscape-Buttons{
        visibility: hidden;
        position: absolute;
        left: 20px;
        z-index: -5;
    }

}


.clear-b{
    color: red;
}

.fun-b{
    color: rgb(250, 162, 152);
}

.eq-b{
    background-color: rgb(250, 162, 152);
    color: black;
}

.calc-button.fade-in{
    background-color: rgb(231, 193, 255);
}

.clear-b.fade-in{
    background-color: red;
}

.eq-b.fade-in{
    background-color: rgb(47, 47, 47);;
}

.fun-b.fade-in{
    background-color: rgb(250, 162, 152);
}