:root{
    --nfs: 45px;
    --nbs: 10px;
    --ufs: 15px;
    --mfs: 20px;
    --phbr: 17px;
    --pv: 5px;
    --iw: 39px;
    --ot: #37fff9;
}

body{
    width: 100%;
    height: 100%;
    background-color: white;
}

#Username-Hidden{
    position: fixed;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    top: -200%;
}

main{
    position: fixed;
    width: 100%;
    height: inherit;
}

#Chat-Window{
    width: inherit;
    height: inherit;
}

#Chat-Content-Grid{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
    bottom: 0;
}

#Messages-Wrapper{
    position: relative;
    width: 100%;
    max-height: 100%;
    margin: 0;
    flex-direction: column;
    overflow-y: scroll;
}

.message-div{
    position: relative;
    margin: 15px 0;
}

.user-name{
    position: relative;
    font-size: var(--ufs);
    margin: 0 33px 2.5px 33px;
    overflow-wrap: break-word;
    hyphens: auto;
    color: black;
}

.message-line{
    position: relative;
}

.sent-message-format{
    position: relative;
    width: fit-content;
    max-width: calc(60% - 23px);
    font-size: var(--mfs);
    padding: var(--pv) var(--phbr);
    margin: 0;
    border-radius: var(--phbr);
    overflow-wrap: break-word;
    hyphens: auto;
    color: white;
}

.Trash-Icon{
    position: absolute;
    width: 15px;
    top: 50%;
    transform: translateY(-100%);
    margin: 8px 4px;
}

.user-name.self{
    text-align: right;
}

.sent-message-format.self{
    background-color: #b637ff;
    text-align: right;
    left: calc(100% - 23px);
    transform: translateX(-100%);
}

.sent-message-format.other{
    background-color: #626262;
    text-align: left;
    left: 23px;
}

.Trash-Icon.self{
    right: 0;
}

#New-Message-Strip{
    position: relative;
    width: 100%;
}

#New-Message-Wrapper{
    background-color: var(--bgcontrast);
    border-radius: 25px;
    width: calc(100% - 7.5% - var(--iw));
    margin: 10px 0 10px 2.5%;
}

#New-Message{
    position: relative;
    color: black;
    font-size: var(--mfs);
    padding: 7.5px;
    margin: 5px;
    border-radius: 25px;
}

#New-Message-Wrapper:focus,
#New-Message:focus{
    outline:none;
}

#New-Message:empty:not(:focus)::before{
    content: attr(ghost-text);
}

#Send-Message-Button{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px 2.5% 10px 0;
    width: 39px;
    height: 39px;
    background-color: #b637ff;
    border-radius: 50%;
}

#Send-Icon{
    position: relative;
    width: 27px;
    top: 50%;
    left: 56%;
    transform: translateX(-50%) translateY(-50%);
}