main{
    z-index: 0;
    position: relative;
    top: 60px;
}

.contact-strip-list{
    list-style: none;
    position: relative;
    width: 90%;
    padding-inline-start: 0;
    margin: 2.5% 5%;
}

.list-item-format{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 65px;
    border-radius: 35px;
    background-color: white;
    margin: 10px 0;
    transition: all 0.25s;
}

.list-items-dropped{
    transition: all 0.25s;
}

.strip-shape-format{
    position: absolute;
    width: 100%;
}

.emailicon{
    position: absolute;
    width: 37px;
    padding: 15px;
    padding-bottom: 14px;
    padding-left: 10%;
}

.strip-text{
    position: absolute;
    font-size: 25px;
    margin: 0;
    width: 100%;
    padding: 18px 0;
    text-align: center;
    text-decoration: none;
    color: black;
}

.contact-arrow{
    position: relative;
    width: 9%;
    height: 30px;
    margin: 18px 0;
    margin-left: 83%;
    z-index: 2;
}

.contact-arrow-icon{
    width: 30px;
    transform: rotate(-90deg);
}



.form-element{
    position: relative;
    z-index: -1;
    background-color: #eaeaea;
    height: 59px;
    padding: 0 30px;
    border-radius: 35px;
}

.form-divs{
    margin: 5px 0;
}

.name-div{
    position: relative;
    top: 0px;
}

.email-div{
    position: relative;
    top: -67px;
}

.message-div{
    position: relative;
    top: -120px;
}

.submission-labels{
    padding-left: 14px;
}

.submission-input{
    margin-top: 5px;
    background-color: white;
}

.small-box{
    height: 35px;
    border-radius: 20px;
    border: 2px solid rgb(119,216,156);
    width: 100%;
}

.big-box{
    position: relative;
    height: 10px;
    width: 100%;
    border: 2px solid rgb(119, 216, 156);
    border-radius: 15px;
}

.submission-form{
    position: relative;
    background-color: white;
    top: 70px;
    height: 478px;
    width: 95%;
    border-radius: 27px;
    margin-left: 2.5%;
}

.submit-button{
    position: relative;
    font-size: 14px;
    background-color: rgb(119, 216, 156);
    color: white;
    border-radius: 25px;
    padding: 10px 35px;
    top: -160px;
}

.instagram-item,
.facebook-item,
.github-item,
.linkedin-item{
    top: 0px;
}

.contact-instagramicon,
.contact-facebookicon,
.contact-githubicon,
.contact-linkedinicon{
    position: absolute;
    width: 35px;
    padding: 15px;
    padding-left: 10%;
}

.contact-drop-group{
    transition: all 0.25s;
}

.contact-arrow-icon.active{
    transform: rotate(90deg);
}

.form-element.active{
    height: 440px;
}

.name-div.active{
    top: 70px;
}

.email-div.active{
    top: 73px;
}

.message-div.active{
    top: 75px;
}

.big-box.active{
    height: 140px;
}

.submit-button.active{
    top: 85px;
}

.facebook-item.active,
.instagram-item.active,
.github-item.active,
.linkedin-item.active{
    top: 370px;
}

/* //////////////////////////////// */
/*    Phone Portrait Orientation    */
/* //////////////////////////////// */
@media screen and (max-width:450px){

    
    
}

/* //////////////////////////////// */
/*   Phone Landscape Orientation    */
/* //////////////////////////////// */
@media screen and (min-width:450px) and (max-width: 916px) and (max-height: 512px){

    main{
        top: 40px;
    }

    .github-item,
    .linkedin-item{
        visibility: hidden;
        z-index: -50;
        width: 0;
        height: 0;
    }

    .contact-strip-list{
        margin: 0;
        margin-left: 100px;
        width: 80%;
    }

    .facebook-item,
    .instagram-item{
        top: -26px;
    }
    
}

/* //////////////////////////////// */
/*  Desktop Landscape Orientation   */
/* //////////////////////////////// */
@media screen and (min-width: 916px){

    main{
        top: 15px;
    }

    .github-item,
    .linkedin-item,
    .contact-arrow{
        visibility: hidden;
        z-index: -50;
        width: 0;
        height: 0;
    }

    .contact-strip-list{
        margin: 0 5%;
        width: 90%;
    }

    .contact-item{
        height: 100px;
        border-radius: 50px;
    }

    .emailicon{
        width: 63px;
        padding: 16px;
        padding-bottom: 21px;
        padding-left: 7.5%;
    }

    .strip-text{
        font-size: 35px;
        padding: 29px 0;
    }

    .form-element{
        height: 675px;
        padding: 0;
        border-radius: 40px;
    }

    .form-divs{
        width: 90%;
        padding: 0 5%;
    }

    .name-div{
        top: 105px;
    }

    .email-div{
        top: 115px;
    }

    .message-div{
        top: 125px;
    }

    .submit-button{
        top: 140px;
        padding: 7.5px 8%;
        margin: 0 5%;
        border-radius: 35px;
        font: inherit;
        font-size: 35px;
        font-weight: bold;
        border: 2px solid black;
    }

    .submission-labels{
        font-size: 30px;
    }

    .small-box{
        font: inherit;
        height: 55px;
        padding: 0 2%;
        border-radius: 28px;
        font-size: 22px;
    }

    .big-box{
        font: inherit;
        height: 200px;
        padding: 10px 2%;
        border-radius: 36px;
        font-size: 22px;
    }

    .contact-instagramicon,
    .contact-facebookicon{
        padding: 33px 15px;
        padding-left: 10%;
    }

    .bottom-row{
        top: 585px;
        width: 46%;
        height: 100px;
        border-radius: 50px;
    }

    .facebook-item{
        margin-right: 3%;
    }

    .instagram-item{
        margin-left: 3%;
    }

    .facebook-text,
    .instagram-text{
        padding: 30px 0;
    }

}

