main{
    position: absolute;
    z-index: -1;
}

.Main-Wrap{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    height: 575px;
}

.Title-Wrap{
    height: 50px;
    border-radius: 20px;
    background-color: #ECB172;
}

.Title-Icons{
    position: absolute;
    padding: 0 5px;
    width: 50px;
}

.Title{
    position: absolute;
    width: 90%;
    text-align: right;
    font-size: 20px;
    padding: 13px 5%;
    border-radius: 20px;
}

#JS-Icon{
    position: absolute;
    padding: 0;
    border: 1px solid white;
    margin: 10px;
    width: 28px;
}

#Cpp-Icon{
    padding: 0;
    width: 35px;
    left: 50px;
    margin: 8px 10px;
}

#Project-Grid{
    display: grid;
    gap: 25px;
}

.Title,
.Outer-Text{
    color: black;
}

/* Mobile Portrait */
@media screen and (max-width: 450px) and (max-height: 916px){

    main{
        width: 90%;
        margin: 5%;
        height: calc(100vh - 60px);
        top: 60px;
    }

    .Main-Wrap{
        width: 100%;
    }
}

/* Mobile Landscape */
@media screen and (min-width: 451px) and (max-width: 916px) and (max-height: 450px){
    
    main{
        left: 53px;
        width: calc(100vw - 53px);
    }

    #Project-Grid{
        width: 90%;
        margin: 15px 5%;
        row-gap: 15px;
    }

    .Main-Wrap{
        position: relative;
        height: 330px;
        width: 100%;
    }
}

/* Desktop Portrait */
@media screen and (min-width: 451px) and (max-width: 916px) and (min-height: 451px){

    main{
        top: 100px;
        height: calc(100vh - 100px);
        width: 100%;
    }

    .Main-Wrap{
        width: 330px;
    }

    .Title{
        width: 304px;
        padding: 13px;
    }
}

/* Desktop Landscape */
@media screen and (min-width:917px){

    main{
        top: 129px;
    }

    .Main-Wrap{
        top: 0;
        margin: 10px;
    }

}

@media screen and (min-width: 685px) and (min-height: 451px) {
    #Project-Grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1040px){
    #Project-Grid{
        grid-template-columns: repeat(3, 1fr);
    }
}


