main{
    z-index: 0;
    position: relative;
    top: 62px;
    z-index: -1;
}

.Main-Wrap{
    position: absolute;
    width: 100%;
    background-color: #DBF5F0;
    border-radius: 20px;
}

.Title-Wrap{
    height: 50px;
    border-radius: 20px;
    background-color: #0e1730;
}

.Title-Icons{
    position: absolute;
    padding: 0 5px;
    width: 50px;
}

.Title{
    position: absolute;
    width: 90%;
    text-align: right;
    font-size: 20px;
    padding: 13px 5%;
    border-radius: 20px;
    color: #DBF5F0;
}

#JS-Icon{
    position: absolute;
    padding: 0;
    border: 1px solid #DBF5F0;
    margin: 10px;
    width: 28px;
}

#Cpp-Icon{
    padding: 0;
    width: 35px;
    left: 50px;
    margin: 8px 10px;
}

/* //////////////////////////////// */
/*    Phone Portrait Orientation    */
/* //////////////////////////////// */
@media screen and (max-width:450px){

    main{
        top: 80px;
        width: 90%;
        margin: 0 5%;
    }
}

/* //////////////////////////////// */
/*   Phone Landscape Orientation    */
/* //////////////////////////////// */
@media screen and (min-width:450px) and (max-width: 916px) and (max-height: 512px){
    
    main{
        left: 90px;
        width: 80%;
        top: 0;
    }

    .Main-Wrap{
        position: relative;
    }
}

/* //////////////////////////////// */
/*  Desktop Landscape Orientation   */
/* //////////////////////////////// */
@media screen and (min-width: 916px){

    main{
        top: 129px;
    }

    .Main-Wrap{
        top: 0;
        margin: 10px;
    }

}