@media screen and (min-width:916px){

  .drop,
  .hbp,
  .mobile,
  .guides{
    visibility: hidden;
    height: 0px;
    width: 0px;
  }

  .desktop{
    background-color: white;
  }

  .nav-home{
    position: fixed;
    line-height: 65px;
    border-right: 1px solid black;
  }

  .home-text{
    text-align: left;
    font-size: 27.5px;
    padding: 16px 16px;
  }

  .nav-list{
    cursor: default;
    height: 65px;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    box-sizing: content-box;
    width: 76%;
    padding-left: 21%;
  }

  .list-item-formatting{
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 65px;
    line-height: 65px;
    
    vertical-align: top;
    padding: 0;
  }

  .desktop nav a,
  .desktop nav ul li a{
    text-decoration: none;
    color: black;
  }

  .text-formatting{
    
    text-align: left;
    font-size: 20px;
    padding: 20px 15px;
  }

  

  .resume-text{
  }
  

}
