@media screen and (min-width: 451px) and (max-width: 916px) and (min-height: 451px){

  .mobile{
    position: fixed;
    height: 50px;
    width: 100%;
    top: 50px;
    z-index: 2;
  }

  #Icons-Element{
    position: absolute;
    width: 100%;
    height: 33px;
    margin: 8.5px 0;
  }

  .icon-container{
    position: absolute;
    width: 16.66%;
    top: 0;
  }

  #Icon2{
    left: 16.66%;
  }

  #Icon10{
    left: 33.33%;
  }

  #Icon11{
    left: 50%;
  }

  #Icon12{
    left: 66.66%;
  }

  #Icon13{
    left: 83.33%;
  }

  /* global icon div */
  .Icon-Wrapper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    width: 33px;
    height: 33px;
  }

  /* bottom level */

  .icon-size{
    position: relative;
    margin: 0;
    width: 33px;
  }

  .resumeicon{
    width: 25px;
    left: 4px;
    top: 1px;
  }

  #Desktop-Header{
    position: fixed;
    width: 100%;
    background-color: black;
  }

  #Desktop-Header p{
    width: 100%;
    font-size: 25px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    color: #F4EFE6;
  }

  .nav-top,
  .nav-top :is(ul,li,a,span),
  .name-banner,
  .hambackground,
  #Icon0,
  #Icon0 :is(div,span),
  #Icon3,
  #Icon3 :is(div, img),
  #Icon4,
  #Icon4 :is(div, img),
  #Icon7,
  #Icon7 :is(div, span),
  #Project-Slide,
  #Project-Slide :is(a,div,img),
  #More-Slide,
  #More-Slide :is(a,div,img),
  #Mobile-Dropdown-Wrapper,
  #Mobile-Dropdown-Wrapper :is(ul,li,div,a,p,img){
    visibility: hidden;
    z-index: -50;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
  }



}

