@media screen and (min-width:916px){

  .drop,
  .hbp,
  .mobile,
  .guides{
    visibility: hidden;
    height: 0px;
    width: 0px;
    margin: 0;
    padding: 0;
  }

  #Desktop-Header{
    position: fixed;
    width: 100%;
    background-color: black;
  }

  #Desktop-Header p{
    width: 100%;
    font-size: 35px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    color: #F4EFE6;
  }

  #Desktop-Nav{
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 62px;
    background-color: #ECB172;
  }
 
  #Desktop-Nav-List{
    cursor: default;
    height: 65px;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    box-sizing: content-box;
    width: 100%;
    padding: 0;
  }

  .list-item-formatting{
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 65px;
    line-height: 65px;
    
    vertical-align: top;
    padding: 0 10px;
  }

  .text-wrapper{
    text-decoration: none;
    color: black;
  }

  .text-formatting{
    text-align: left;
    font-size: 20px;
    padding: 20px 15px;
  }

}
