main{
    position: absolute;
}

.block-1,
.block-2{
    position: relative;
    border-radius: 20px;
    background-color: white;
    margin: 5%;
}

.main-header{
    position: relative;
    text-align: center;
    border-bottom: 2px solid black;
    font-size: 30px;
    width: 70%;
    margin: 0 10%;
    padding: 10px 5%;
}

.bp{
    position: relative;
    text-align: center;
    font-size: 18px;
    margin: 0 10%;
}


/* Mobile Portrait */
@media screen and (max-width: 450px) and (max-height: 916px){

    main{
        top: 60px;
    }

    .block-1,
    .block-2{
        width: 90%;
    }

    .bp{
        padding: 5% 0;
    }

}

/* Mobile Landscape */
@media screen and (min-width: 451px) and (max-width: 916px) and (max-height: 450px){

    main{
        left: 60px;
    }

    .bp{
        padding: 5% 0;
    }

}

/* Desktop Portrait */
@media screen and (min-width: 451px) and (max-width: 916px) and (min-height: 451px){
    main{
        top: 60px;
        z-index: -1;
    }

    .block-1{
        width: 60%;
    }

    .block-1,
    .block-2{
        margin: 2.5%;
    }

    .bp{
        
        padding: 2.5% 0;
    }
}

/* Desktop Landscape */
@media screen and (min-width:917px){

    main{
        top: 60px;
        z-index: -1;
    }

    .block-1{
        width: 60%;
    }

    .block-1,
    .block-2{
        margin: 2.5%;
    }

    .bp{
        
        padding: 2.5% 0;
    }

}

@media screen and (min-width: 1440px) and (min-height: 750px){
    

    .main-header{
        font-size: 33px;
    }

    .bp{
        font-size: 20px;
    }

}

@media screen and (min-width: 1680px) and (min-height: 815px){

    .main-header{
        font-size: 35px;
    }

    .bp{
        font-size: 22px;
    }

}
