#PCB-Icon{
    left: 60px;
}

#Schematic-Icon{
    left: 120px;
}

#Loop-Description{
    position: relative;
    background-color: #F4EFE6;
    border-radius: 20px;
    margin: 5% 2.5%;
    padding: 2.5%;
}

#Loop-Link-Wrap{
    position: relative;
    width: 90%;
    padding: 2.5%;
    margin: 2.5%;
    margin-top: 30px;
    background-color: #F4EFE6;
    height: 220px;
    border-radius: 20px;
}

.Loop-Link-Item{
    position: relative;
    height: 50%;
}

#Loop-GH-Icon{
    position: absolute;
    width: 70px;
    margin: 20px;
}

#Loop-GH-Desc{
    position: absolute;
    margin: 0;
    padding: 43.5px 0;
    font-size: 20px;
    left: 110px;
}

#Loop-Img-Pop-Icon{
    position: absolute;
    width: 80px;
    margin: 27.5px 12px;
}

#Img-Pop-Desc{
    position: absolute;
    font-size: 20px;
    left: 110px;
    margin: 0;
    padding: 32px 0;
}

/* Mobile Portrait */
@media screen and (max-width: 450px) and (max-height: 916px){

    .looper-images{
        left: 0;
    }

}

/* Mobile Landscape */
@media screen and (min-width: 451px) and (max-width: 916px) and (max-height: 450px){

    .looper-images{
        left: 0;
    }

    #Loop-Description{
        margin: 10px 2.5%;
    }

    #Loop-Link-Wrap{
        height: 60px;
        margin-top: 2.5%;
    }

    .Loop-Link-Item{
        position: absolute;
        height: 100%;
    }

    #Loop-GH-Icon{
        width: 50px;
        margin: 5px;
    }
    
    #Loop-GH-Desc{
        width: 150px;
        font-size: 16px;
        margin: 0;
        padding: 20.75px 0;
        left: 70px;
    }

    #Loop-Link-2-Wrap{
        left: 47%;
    }
    
    #Loop-Img-Pop-Icon{
        width: 65px;
        margin: 7.5px 0;

    }
    
    #Img-Pop-Desc{
        width: 200px;
        left: 70px;
        font-size: 16px;
        margin: 0;
        padding: 20.75px 0;
    }
    
    #Loop-Wrap p{
    }

}

/* Desktop Portrait */
@media screen and (min-width: 451px) and (max-width: 916px) and (min-height: 451px){

    #Loop-Wrap{
    }

}

/* //////////////////////////////// */
/*  Desktop Landscape Orientation   */
/* //////////////////////////////// */
@media screen and (min-width: 917px){

    #Loop-Wrap{
        height: 395px;
        width: 336px;
        left: 0;
        top: 415px;
    }

}

@media screen and (min-width: 1068px){

    #Loop-Wrap{
        position: absolute;
        top: 0;
        height: 395px;
        width: 336px;
        left: 712px;
    }

}