.Maze-Funcs{
    position: absolute;
    padding: 10px 0;
}

.M-F{
    text-align: center;
    border-style: none;
    background-color: black;
    color: white;
    font: inherit;
    font-size: 25px;
    width: 30%;
}

.maze-size{
    border: 1px solid black;
    background-color: #3f3f3f;
}

.table-1{
    position: absolute;
    border-spacing: 0;
}

td{
    opacity: 1;
    border: none;
    transition: opacity 0.5s;
    background-color: #62eef0;
}

td.dissapear{
    opacity: 0;
}

.wall{
    background-color: black;
}

/* //////////////////////////////// */
/*    Phone Portrait Orientation    */
/* //////////////////////////////// */
@media screen and (max-width:450px){

    .Table-Wrapper{
        height: 135px;
    }

    .Maze-Funcs{
        margin: 0 2.5%;
        border-top: 3px solid black;
        top: 60px;
    }

    .M-F{
        height: 50px;
        border-radius: 25px;
    }

    .New-Maze-Button{
        margin: 0 3%;
    }

    .table-1{
        width: 90%;
        margin: 0 5%;
        top: 133px;
    }
}

/* //////////////////////////////// */
/*   Phone Landscape Orientation    */
/* //////////////////////////////// */
@media screen and (min-width:450px) and (max-width: 916px) and (max-height: 512px){
    
    .Table-Wrapper{
        height: 250px;
        border-radius: 50px;
    }

    .Maze-Title{
        width: 37%;
        padding: 10px 4%;
        margin: 0 2.5%;
        border-radius: 0;
        border-bottom: 2px solid black;
    }

    .Maze-Funcs{
        padding: 0;
        top: 100px;
        width: 50%;
    }

    .M-F{
        width: 80%;
        margin: 5px 10%;
        height: 35px;
        border-radius: 17.5px;
    }

    .table-1{
        right: 0;
        width: 200px;
        margin: 25px 5%;
    }
}

/* //////////////////////////////// */
/*  Desktop Landscape Orientation   */
/* //////////////////////////////// */
@media screen and (min-width: 916px){

    .Table-Wrapper{
        position: absolute;
        height: 395px;
        width: 336px;
        transform: translateX(-115%);
    }

    .Maze-Title{
        font-size: 20px;
    }

    .Maze-Funcs{
        margin: 0 15%;
        border-top: 2px solid black;
        top: 49px;
    }

    .M-F{
        font-size: 20px;
        border-radius: 15px;
        height: 30px;
        transform: translateX(10%);
    }

    .table-1{
        width: 80%;
        margin: 0 10%;
        top: 100px;
    }
}