#Maze-Func{
    position: absolute;
    padding: 10px 0;
    margin: 0 2.5%;
}

.Maze-Button{
    text-align: center;
    border-style: none;
    background-color: #375A63;
    color: #DBF5F0;
    font: inherit;
    font-size: 25px;
    width: 30%;
}

#Maze-Size{
    background-color: #375A63;
    color: white;
}

#Maze-Table{
    position: absolute;
    border-spacing: 0;
    width: 280px;
    left: 50%;
    transform: translateX(-50%);
}

td{
    opacity: 1;
    border: none;
    transition: opacity 0.5s;
    background-color: #6795A0;
}

td.dissapear{
    opacity: 0;
}

.wall{
    background-color: black;
}

/* //////////////////////////////// */
/*    Phone Portrait Orientation    */
/* //////////////////////////////// */
@media screen and (max-width:450px){

    #Maze-Wrap{
        height: 420px;
    }

    #Maze-Func{
        top: 52px;
    }

    .Maze-Button{
        height: 50px;
        border-radius: 25px;
    }

    #New-Maze{
        margin: 0 3%;
    }

    #Maze-Table{
        top: 124px;
    }
}

/* //////////////////////////////// */
/*   Phone Landscape Orientation    */
/* //////////////////////////////// */
@media screen and (min-width:450px) and (max-width: 916px) and (max-height: 512px){
    
    #Maze-Wrap{
        height: 314px;
    }

    #Maze-Title{
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 13px 0;
        border-radius: 0;
    }

    #Maze-Func{
        padding: 0;
        top: 30%;
        width: 50%;
    }

    .Maze-Button{
        width: 80%;
        margin: 5px 10%;
        height: 35px;
        border-radius: 17.5px;
    }

    #Maze-Table{
        transform: none;
        width: 214px;
        right: 0;
        margin: 25px 5%;
    }
}

/* //////////////////////////////// */
/*  Desktop Landscape Orientation   */
/* //////////////////////////////// */
@media screen and (min-width: 916px){

    #Maze-Wrap{
        height: 395px;
        width: 336px;
    }

    #Maze-Func{
        top: 49px;
    }

    .Maze-Button{
        font-size: 20px;
        border-radius: 15px;
        height: 30px;
        transform: translateX(10%);
    }

    #Maze-Table{
        top: 100px;
    }
}