@media screen and (min-width: 451px) and (max-width: 916px) and (max-height: 450px){

  .hambackground{
    background-color: #ECB172;
    position: fixed;
    border-radius: 6px;
    border: none;
    top: -16.6%;
    height: 33.2%;
    width: 106px;
    left: -53px;
  }

  .mobile{
    position: fixed;
    height: 100%;
    width: 53px;
    top: 0px;
    left: -53px;
    z-index: 2;
    transition: all 0.25s;
  }

  #Icons-Element{
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .icon-container{
    position: absolute;
    width: 33px;
    height: 16.66%;
    margin: 0 10px;
    transition: margin 0.25s;
  }

  .projectslide,
  .moreslide{
    background-color: #ECB172;
    border-radius: 10px;
    width: 161px;
    height: 16.6%;
    left: -162px;
    margin: 0;
    z-index: -1;
    transition: all 0.25s;
  }

  .slide-container{
    position: absolute;
    width: 33px;
    height: 80%;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  #Icon0{
    position: fixed;
    top: 0;
    left: 0;
  }

  #Icon1{
    top: 16.6%;
  }

  #Icon2{
    top: 33.3%;
  }

  #Icon3{
    top: 50%;
  }
  
  #Icon4,
  #Project-Slide{
    top: 66.6%;
  }

  #Icon7,
  #More-Slide{
    top: 83.3%;
  }

  #Icon5,
  #Icon8{
    left: 54px;
  }

  #Icon6,
  #Icon9{
    left: 108px;
  }

  #Ham{
    position: absolute;
    top: 50%;
    width: 33px;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
  }

  #Ham span{
    position: relative;
    top: -50%;
    width: 100%;
    height: 3px;
    display: block;
    background: black;
    transition: all 0.2s;
    border-radius: 20px;
  }

  .mid-line{
    margin: 10px 0;
  }
  
  .top-line.active{
    transform: translateY(13px) rotate(-45deg);
  }
  
  .mid-line.active{
    opacity: 0;
  }
  
  .bottom-line.active{
    transform: translateY(-13px) rotate(45deg);
  }

  /* global icon div */
  .Icon-Wrapper{
    position: relative;
    top: 50%;
    padding: 0;
    margin: 0;
    width: 33px;
    height: 33px;
  }

  .dots{
    position: absolute;
    width: 7px;
    height: 31px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .is{
    width: 6px;
    height: 6px;
    display: block;
    background: black;
    border-radius: 6px;
    margin: 0;
    transition: all 0.25s;
  }

  .mid-dot{
    margin: 6px 0;
  }

  /* bottom level */

  .icon-size{
    position: relative;
    margin: 0;
    top: -50%;
    width: 33px;
  }

  .resumeicon{
    width: 25px;
    left: 4px;
    top: -15px;
  }

  header.active{
    transform: translateX(53px);
  }

  .moreslide.active,
  .projectslide.active{
    transform: translateX(162px);
  }

  .top-dot.active{
    transform: translateX(13px) translateY(11.75px);
  }

  .bottom-dot.active{
    transform: translateX(-13px) translateY(-11.75px);
  }

  .desktop,
  .desktop p,
  .nav-top,
  .nav-top :is(ul,li,a,span),
  .name-banner,
  #Mobile-Dropdown-Wrapper,
  #Mobile-Dropdown-Wrapper :is(ul,li,div,a,p,img),
  #Icon10,
  #Icon10 :is(div,img),
  #Icon11,
  #Icon11 :is(div,img),
  #Icon12,
  #Icon12 :is(div,img),
  #Icon13,
  #Icon13 :is(div,img){
    visibility: hidden;
    z-index: -50;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
  }
}