@media screen and (min-width:450px) and (max-width: 916px) and (max-height: 512px){
  
  .desktop,
  .drop{
    visibility: hidden;
  }

  .hbp{
    position: fixed;
    height: 100vh;
  }

  .hambackground{
    background-color: white;
    position: fixed;
    border-radius: 6px;
    border-color: none;
    top: 0;
    height: 16%;
    width: 56px;
    left: -6px;
    margin: 0.45% 3px;
  }

  .mobile{
    position: fixed;
    height: 100%;
    width: 53px;
    top: 0px;
    left: -53px;
    z-index: 2;
    transition: all 0.25s;
  }

  .icons{
    width:inherit;
    /* background-color: white;  */
  }


  /* global icon block sizing */

  .a,
  .d{
    position: fixed;
    width: 33px;
    height: 13.3%;
    margin: 0.9% 10px;
    transition: margin 0.25s;
  }

  .i5{
    left: 2px;
    height: 13%;
  }

  .projectslide{
    background-color: white;
    border-radius: 10px;
    width: 161px;
    height: 16.6%;
    left: -162px;
    margin: 0;
    z-index: -1;
    transition: all 0.25s;
  }

  .p{
    position: absolute;
    width: 33px;
    height: 80%;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  /* unique icon block horizontal placement */

  .i0{
    top: 16.6%;
  }

  .i1{
    top: 33.3%;
  }

  .i2{
    top: 50%;
  }
  
  .i3,
  .projectslide{
    top: 66.6%;
  }

  .i4{
    top: 83.3%;
  }

  .i6{
    left: 54px;
  }

  .i7{
    left: 108px;
  }

  /* global icon div */
  .buff{
    position: relative;
    top: 50%;
    padding: 0;
    margin: 0;
  }

  .ham{
    position: relative;
    top: 23%;
    width: 30px;
    padding: 0;
    margin: 0;
  }

  .ham span{
    position: relative;
    top: -50%;
    width: 100%;
    height: 3px;
    display: block;
    background: black;
    transition: all 0.2s;
    border-radius: 20px;
  }

  .mid-line{
    margin: 10px 0;
  }
  
  .top-line.active{
    transform: translateY(13px) rotate(-45deg);
  }
  
  .mid-line.active{
    opacity: 0;
  }
  
  .bottom-line.active{
    transform: translateY(-13px) rotate(45deg);
  }
  
  .pBuff{
    position: relative;
    top: 50%;
    padding: 0;
    margin: 0;
  }

  /* home icon container sizing */
  .ii0{
    width: 31px;
    height: 31px;
  }

  /* github icon container sizing */
  .ii1{
    width: 32px;
    height: 32px;
  }

  /* linkedin icon container sizing */
  .ii2{
    width: 29px;
    height: 29px;
  }

  /* projects icon container sizing */
  .ii3{
    width: 31px;
    height: 31px;
  }

  /* resume icon container sizing */
  .ii4{
    width: 22px;
    height: 22px;
  }

  /* script icon container sizing */
  .ii6{
    width: 30px;
    height: 30px;
  }

  /* music icon container sizing */
  .ii7{
    width: 31px;
    height: 31px;
  }

  /* bottom level */
  .homeicon{
    position: relative;
    margin: 0;
    top: -50%;
    width: 31px;
  }

  .githubicon{
    position: relative;
    margin: 0;
    top: -50%;
    width: 32px;
  }

  .linkedinicon{
    position: relative;
    margin: 0;
    top: -50%;
    width: 29px;
  }

  .projecticon{
    position: relative;
    margin: 0;
    top: -50%;
    width: 31px;
  }

  .resumeicon{
    position: relative;
    margin: 0;
    left: 5px;
    top: -60%;
    width: 22px;
  }

  .scripticon{
    position: relative;
    margin: 0;
    left: 0.5px;
    top: -50%;
    width: 30px;
  }

  .musicicon{
    position: relative;
    margin: 0;
    top: -50%;
    width: 31px;
  }

  header.active{
    transform: translateX(53px);
  }

  .projectslide.active{
    transform: translateX(162px);
  }

  .sidemove.active{
    margin: 12% 10px;
  }
}