:root{
    --ppw: 80vw;
    --pubs: 30vw;
    --pubis: 20vw;
    --imw: 100vw;
}

#Loop-Popup,
#Loop-Popup :is(div,span,a),
#AR-Popup,
#AR-Popup :is(div,span,a),
#Picture-Button{
    visibility: hidden;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
}

.Popup-Images{
    visibility: hidden;
    max-width: 0;
    max-height: 0;
}

#Loop-Popup.active,
#Loop-Popup.active :is(div,span,img,a),
#AR-Popup.active,
#AR-Popup.active :is(div,span,img,a){
    visibility: visible;
}

#AR-Popup.active,
#Loop-Popup.active{
    position: fixed;
    left: 0;
    top: 60px;
    width: 100vw;
    height: calc(100vh - 60px);
    overflow: hidden;
    z-index: 2;
    background-color: rgb(0 0 0 / 80%);
}

#Popup-Background.active{
    position: absolute;
    width: 100%;
    height: 100%;
}

#Popup-Buttons.active{
    display: flex;
    top: calc(100% - var(--pubs));
    position: absolute;
    width: calc(var(--pubs) * 3);
    height: var(--pubs);
    margin: 0 5vw;
}

#Picture-Button.active,
#Exit-Button.active{
    width: var(--pubis);
    height: var(--pubis);
    margin: 5vw;
}

#xline.active{
    position: absolute;
    width: 15vw;
    height: 2.5%;
    top: 50%;
    left: 50%;
    background: white;
}

#xline.l1.active{
    transform: translateX(-50%) rotate(-45deg);
}

#xline.l2.active{
    transform: translateX(-50%) rotate(45deg);
}

#Picture-Button.right.active{
    transform: rotate(180deg);
}

#AR-Images-Trim.active,
#Loop-Images-Trim.active{
    position: absolute;
    height: calc(100% - var(--pubs));
    width: var(--imw);
    left: 0;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#AR-Images-Wrapper.active,
#Loop-Images-Wrapper.active{
    display: flex;
    width: calc(var(--imw) * 5);
    height: 100%;
}

#Image-Wrapper.active{
    width: var(--imw);
    height: 100%;
}

.Popup-Images.active{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@media screen and (min-width: 451px) and (max-width: 916px) and (max-height: 450px){

    :root{
        --pubs: 15vh;
        --lhsm: 53px;
        --pubis: 12.5vh;
    }

    #AR-Popup.active,
    #Loop-Popup.active{
        top: 0;
        width: 100%;
        height: 100%;
    }

    #Popup-Buttons.active{
        width: calc(var(--pubs) * 3);
        height: var(--pubs);
        top: calc(100vh - var(--pubs));
        left: var(--lhsm);
        margin: 0 calc((100vw - (var(--pubs) * 3) - var(--lhsm)) * 0.5);
    }

    #Picture-Button.active,
    #Exit-Button.active{
        width: var(--pubis);
        height: var(--pubis);
        margin: 1.25vh;
    }

    #xline.active{
        width: 10vh;
    }

    #AR-Images-Trim.active,
    #Loop-Images-Trim.active{
        width: calc(100vw - var(--lhsm));
        height: calc(100vh - var(--pubs));
        left: var(--lhsm);
    }

    #AR-Images-Wrapper.active,
    #Loop-Images-Wrapper.active{
        width: calc((100vw - var(--lhsm)) * 5);
    }

}

@media screen and (min-width: 451px) and (min-height: 451px){

    :root{
        --pubs: 20vh;
        --pubis: 15vh;
    }

    #Popup-Buttons.active{
        width: calc(var(--pubs) * 3);
        height: var(--pubs);
        margin: 0 calc((100vw - (var(--pubs) * 3)) * 0.5);
        top: calc(100% - var(--pubs));
    }

    #Picture-Button.active,
    #Exit-Button.active{
        width: var(--pubis);
        height: var(--pubis);
        margin: 2.5vh;
    }

    #xline.active{
        width: 12vh;
    }

    #AR-Images-Trim.active,
    #Loop-Images-Trim.active{
        height: calc(100% - var(--pubs));
    }

}