<div class="drop">
    <ul class="mainmenu">
        <li class="m0">
            <a href="MichaelTecceResume.pdf" target="_blank">Resume</a>
        </li>
        <li class="m1">
            <div class="proj">
                <div class="arrow">
                    <img src="images/arrow.webp" alt="Arrow" class="arrowicon"/>
                </div>
                <p>Projects</p>
            </div>
            <ul class="seconddrop">
                <li class="csm">
                    <a href="/csproj">~CS Projects~</a>
                </li>
                <li class="mm">
                    <a href="/musicproj">~Music Projects~</a>
                </li>
            </ul>
        </li>
        <li class="m2">Contact</li>
    </ul>
</div>