<div class="icons">

    <div class="d name-banner">
        <p class="name-text">Michael Tecce</p>
    </div>

    <div class="d icon0 sidemove">
        <div class="ham">
            <span class="top-line"></span>
            <span class="mid-line"></span>
            <span class="bottom-line"></span>
        </div>
    </div>

    <a href="/" class="a icon1 sidemove">
        <div class="buff iconi1">
            <img src="images/icons/homeicon.png" alt="Home" class="icon-size homeicon"/>
        </div>
    </a>
    <a href="https://www.github.com/mtecce" class="a icon2 sidemove">
        <div class="buff iconi2">
            <img src="images/icons/githubicon.webp" alt="Github" class="icon-size githubicon">
        </div>
    </a>
    <a href="https://www.linkedin.com/in/michael-tecce-5a4802194/" class="a icon3 sidemove">
        <div class="buff iconi3">
            <img src="images/icons/linkedinicon.png" alt="LinkedIn" class="icon-size linkedinicon">
        </div>
    </a>
    
    <div class="d icon4 icon sidemove">
        <div class="buff iconi4">
            <img src="images/icons/folder.png" alt="Projects" class="icon-size projecticon">
        </div>
    </div>

    <div class="d projectslide">
        <a href="/csprojects" class="a p icon5">
            <div class="sBuff iconi5">
                <img src="images/icons/scripticon.webp" alt="CSProj" class="icon-size scripticon">
            </div>
        </a>
        <a href="/musicprojects" class="a p icon6">
            <div class="sBuff iconi6">
                <img src="images/icons/music.png" alt="MusicProj" class="icon-size musicicon">
            </div>
        </a>
    </div>
    <div class="d icon7 icon sidemove">
        <div class="dots">
            <div class="encap">
                <span class="is top-dot dot-move"></span>
                <span class="is mid-dot"></span>
                <span class="is bottom-dot dot-move"></span>
            </div>
        </div>
    </div>
    <div class="d moreslide">
        <a href="MichaelTecceResume.pdf" target="_blank" class="a p icon8">
            <div class="sBuff iconi8">
                <img src="images/icons/file.png" alt="Resume" class="icon-size resumeicon">
            </div>
        </a>
        <a href="/contact" class="a p icon9">
            <div class="sBuff iconi9">
                <img src="images/icons/contact.png" alt="Contact" class="icon-size contacticon">
            </div>
        </a>
    </div> 
</div>