<div id="Icons-Element">

    <div id="Name-Banner" class="name-banner">
        <p id="Name-Text" class="name-text">Michael Tecce</p>
    </div>

    <div id="Icon0" class="icon-container sidemove" onclick="hamClick();">
        <div id="Ham">
            <span class="ham-line top-line"></span>
            <span class="ham-line mid-line"></span>
            <span class="ham-line bottom-line"></span>
        </div>
    </div>

    <a href="/" id="Icon1" class="icon-container sidemove">
        <div id="Icon1-Wrapper" class="Icon-Wrapper iconi1">
            <img src="images/icons/homeicon.png" alt="Home" id="Home-Icon" class="icon-size homeicon"/>
        </div>
    </a>
    <a href="https://www.github.com/mtecce" id="Icon2" class="icon-container sidemove">
        <div class="Icon-Wrapper iconi2">
            <img src="images/icons/githubicon.png" alt="Github" class="icon-size githubicon">
        </div>
    </a>
    <a href="https://www.linkedin.com/in/michael-tecce-5a4802194/" id="Icon3" class="icon-container sidemove">
        <div class="Icon-Wrapper iconi3">
            <img src="images/icons/linkedinicon.png" alt="LinkedIn" class="icon-size linkedinicon">
        </div>
    </a>
    
    <div id="Icon4" class="icon-container icon sidemove">
        <div class="Icon-Wrapper iconi4">
            <img src="images/icons/foldericon.png" alt="Projects" class="icon-size projecticon">
        </div>
    </div>

    <div id="Project-Slide" class="icon-container projectslide">
        <a href="/csprojects" id="Icon5" class="icon-container slide-container">
            <div class="Icon-Wrapper iconi5">
                <img src="images/icons/scripticon.png" alt="CSProj" class="icon-size scripticon">
            </div>
        </a>
        <a href="/musicprojects" id="Icon6" class="icon-container slide-container">
            <div class="Icon-Wrapper iconi6">
                <img src="images/icons/musicicon.png" alt="MusicProj" class="icon-size musicicon">
            </div>
        </a>
    </div>
    <div id="Icon7" class="icon-container icon sidemove">
        <div class="dots">
            <span class="is top-dot dot-move"></span>
            <span class="is mid-dot"></span>
            <span class="is bottom-dot dot-move"></span>
        </div>
    </div>
    <div id="More-Slide" class="icon-container moreslide">
        <a href="MichaelTecceResume.pdf" id="Icon8" target="_blank" class="icon-container slide-container">
            <div class="Icon-Wrapper iconi8">
                <img src="images/icons/fileicon.png" alt="Resume" class="icon-size resumeicon">
            </div>
        </a>
        <a href="/contact" id="Icon9" class="icon-container slide-container">
            <div class="Icon-Wrapper iconi9">
                <img src="images/icons/contacticon.png" alt="Contact" class="icon-size contacticon">
            </div>
        </a>
    </div> 
</div>